.headerButton {
    position: absolute;
    top: 50%;
    right:0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0.3rem;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    z-index: 100;
}

.headerButtonOpened.headerButton {
    transform: translateY(0%);
    top: 1rem;
    right: 1rem;
}

.headerButton:hover {
    background-color: var(--light-blue);
}

.headerButtonIcon {
    display: block;
    font-size: 2.3rem;
}

/* MEDIA */

@media screen and (min-width: 768px) {
    .headerButton {
        display: none;
    }
}
