.container {
    border-radius: 10px;
    background-color: var(--dark-blue-shadow);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    padding: 0.5rem;
}

.mediaContainer {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    transition: all 200ms;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
}

.mediaContainer:hover {
    transform: scale(1.05);
}

.link {
    display: block;
    transition: all 200ms;
}

.mediaContainer:hover .link {
    color: var(--light-orange);
}

.icon {
    display: block;
    font-size: 3rem;
}
