.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: stretch;
    gap: 2rem;
    --idH3Title: 1.3rem;
}

.leftContainer {
    display: grid;
    grid-template-rows: auto auto;
    border: 7px solid var(--dark-blue-shadow);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px var(--dark-blue-shadow);
}

.mentorsContainer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--dark-blue-shadow);
    padding: 1rem;
}

.mentorsContainer::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 0;
    transform: translate(-50%, -50%);
    border: 1px solid var(--light-orange);
    border-radius: 10px;
}

.groupTreeContainer {
    height: 100%;
    grid-template-rows: auto 1fr;
    display: grid;
    align-items: center;
}

.groupTreeContainer h3 {
    text-align: center;
    font-size: var(--idH3Title);
    padding: 1rem;
}

.treeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem
}

.rightContainer {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: stretch;
    align-items: center;
    gap: 2rem;
}

.horizontalScrollContainer h3 {
    text-align: center;
    font-size: var(--idH3Title);
    padding: 1rem;
}
