.cardLink {
    width: 100%;
    height: 100%;
    display: block;
}

.cardTitleContainer {
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}

.cardTitleContainer:hover {
    color: grey;
}

.cardDescp {
    width: 100%;
    padding: 1rem;
}